In [1]:
import numpy as np 
import pandas as pd 
pd.set_option('display.max_rows', 40000)

In [2]:
df=pd.read_csv('features.csv')

C:\Users\lenovo\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (42) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df

,Name,Price,Model Year,Mileage,Registered City,Engine Type,Engine Capacity,Transmission,Color,Assembly,...,Unnamed: 34,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Company,Model Name,Unnamed: 42,Unnamed: 43
0,Adam Revo 1051cc 2006,210000.0,2006.0,100000.0,Karachi,Petrol,1000 cc,Manual,Orange,Local,...,NaN,NaN,NaN,NaN,NaN,NaN,Adam,Revo 1051cc,NaN,NaN
1,Adam Revo 2006,290000.0,2006.0,58000.0,Karachi,NaN,800 cc,Manual,Red,Local,...,NaN,NaN,NaN,NaN,NaN,NaN,Adam,Revo,NaN,NaN
2,Adam Zabardast 2009,1000000.0,2009.0,300000.0,Karachi,Diesel,3000 cc,Manual,Yellow,Local,...,NaN,NaN,NaN,NaN,NaN,NaN,Adam,Zabardast,NaN,NaN
3,Audi A1 2012,4500000.0,2012.0,36000.0,Hyderabad,Petrol,1000 cc,Manual,Silver,Imported,...,NaN,NaN,NaN,NaN,NaN,NaN,Audi,A1,NaN,NaN
4,Audi A3 1.2 TFSI 2015,4495000.0,2015.0,5599.0,Lahore,Petrol,1200 cc,Automatic,Silver,Imported,...,NaN,NaN,NaN,NaN,NaN,NaN,Audi,A3 1.2 TFSI,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54480,Volkswagen Up 2015,1550000.0,2015.0,32000.0,Lahore,Petrol,1000 cc,Automatic,Silver,Imported,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Up,NaN,NaN
54481,Volkswagen Up 2016,2349000.0,2016.0,27800.0,Lahore,Petrol,1000 cc,Automatic,Silver,Imported,...,NaN,NaN,NaN,NaN,NaN,NaN,Volkswagen,Up,NaN,NaN
54482,Volvo S40 Kinetic 1998,1275000.0,1998.0,145000.0,Islamabad,Petrol,1600 cc,Automatic,Blue,Imported,...,NaN,NaN,NaN,NaN,NaN,NaN,Volvo,S40 Kinetic,NaN,NaN
54483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN
54484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,NaN,NaN

In [11]:
df2=df[['Price','Model Year','Mileage','Registered City','Engine Type','Engine Capacity','Transmission','Color',
       'Assembly','ABSFeature','Company','Model Name']]

In [6]:
df2

,Price,Model Year,Mileage,Registered City,Engine Type,Engine Capacity,Transmission,Color,Assembly,ABSFeature,Company,Model Name
0,210000.0,2006.0,100000.0,Karachi,Petrol,1000 cc,Manual,Orange,Local,NaN,Adam,Revo 1051cc
1,290000.0,2006.0,58000.0,Karachi,NaN,800 cc,Manual,Red,Local,NaN,Adam,Revo
2,1000000.0,2009.0,300000.0,Karachi,Diesel,3000 cc,Manual,Yellow,Local,NaN,Adam,Zabardast
3,4500000.0,2012.0,36000.0,Hyderabad,Petrol,1000 cc,Manual,Silver,Imported,NaN,Audi,A1
4,4495000.0,2015.0,5599.0,Lahore,Petrol,1200 cc,Automatic,Silver,Imported,ABS,Audi,A3 1.2 TFSI
...,...,...,...,...,...,...,...,...,...,...,...,...
54480,1550000.0,2015.0,32000.0,Lahore,Petrol,1000 cc,Automatic,Silver,Imported,ABS,Volkswagen,Up
54481,2349000.0,2016.0,27800.0,Lahore,Petrol,1000 cc,Automatic,Silver,Imported,ABS,Volkswagen,Up
54482,1275000.0,1998.0,145000.0,Islamabad,Petrol,1600 cc,Automatic,Blue,Imported,NaN,Volvo,S40 Kinetic
54483,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
54484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [10]:
df2[df2['ABSFeature'].isnull()].count()

Price              24602
Model Year         24602
Mileage            24602
Registered City    24602
Engine Type        23385
Engine Capacity    24602
Transmission       24602
Color              24602
Assembly           24602
ABSFeature             0
Company            24602
Model Name         24604
dtype: int64

In [25]:
df3=df['ABSFeature']

In [26]:
df3

0        NaN
1        NaN
2        NaN
3        NaN
4        ABS
        ...
54480    ABS
54481    ABS
54482    NaN
54483    NaN
54484    NaN
Name: ABSFeature, Length: 54485, dtype: object

In [27]:
df3

0        NaN
1        NaN
2        NaN
3        NaN
4        ABS
        ...
54480    ABS
54481    ABS
54482    NaN
54483    NaN
54484    NaN
Name: ABSFeature, Length: 54485, dtype: object

In [38]:
df3[df3.isna()].count()

0